{% extends "layout.html" %}

{% block title %}
{{list.title}}
{% endblock title %}

{% block content %}

<div class="px-5">
    <div class="row justify-content-between mb-3">
        <div class="col-2">
            <h2>{{list.title}}</h2>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary" onClick="show()">Add a new task</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="mb-5">
                    {{list.description}}
                </p>
                <ul>
                    {%if tasks %}
                    <ul>
                        {%for task in tasks%}
                        <li>
                            {{task.title}}
                            <form action="{{ url_for('check_task', task_id=task.id) }}" method="POST" style="display: inline">
                                <!--         <input type="hidden" name="_method" value="PUT"> -->
                                <input type="checkbox" name="completed" id="completed" onclick="this.form.submit()" {% if task.completed %}checked{% endif %}>
                            </form>
                        </li>
                        {%endfor%}
                    </ul>
                    {%else%}
                    <h6>You haven't added any tasks!</h6>
                    {%endif%}
                </ul>
            </div>
            <div class="col" id="form" style="display: none;">
                <form action="{{url_for('add_task', list_id=list.id)}}" class="form-horizontal" method="POST">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control mb-3" type="text" name="title" id="title" required>
                    <button class="btn btn-secondary" type="submit">Add Task</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function show() {
        document.getElementById("form").style.display = "block"
    }
</script>

{% endblock content %}